version: "3.9"

services:
  api:
    build: .
    container_name: n8n_api
    command: python api.py
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: always

  scheduler:
    build: .
    container_name: n8n_scheduler
    command: python scheduler.py
    env_file:
      - .env
    volumes:
      - .:/app
    restart: always
